---
const works = [
  {
    name: "Agoda",
    role: "SWE Intern",
    link: "https://www.agoda.com/",
    date: "Summer::2025",
    description: ["Will Write Later"],
    tech: ["Scala"],
  },
  {
    name: "Innovera",
    role: "AI Engineer Intern",
    link: "https://www.innovera.ai/",
    date: "Spring::2025",
    description: ["Will Write Later"],
  },
  {
    name: "Lillup",
    role: "Backend Intern",
    link: "https://lillup.com/",
    date: "Summer::2024",
    description: [
      "Deployed backend infrastructure for 8 microservices using Docker and Cloud Run on Google Cloud, leveraging CI/CD workflows with CircleCI, achieving 99.9% uptime and supporting 1,000+ active users",
      "Migrated the CI/CD pipeline from Jenkins to CircleCI, automating deployment across testing, staging, and production environments, reducing deployment errors by 30% and improving deployment speed by 40%.",
      "Integrated Java Spring applications with GCP services, enhancing microservice communication and reducing service downtime by 30%, while improving system scalability and fault tolerance in distributed cloud architectures.",
    ],
  },
  {
    name: "ConceptX",
    role: "Frontend Developer",
    link: "https://class.conceptxmm.com/",
    date: "2023-2024",
    description: [
      "Migrated Single Page Application from Vue and Webpack to a Server-Side Rendered Application using Nuxt and Vite, improving page load speed, SEO performance, user experience, and development speed by 40%.",
      "Improved frontend performance by implementing lazy loading and code splitting techniques, reducing initial load time by 35% and enhancing overall application speed.",
      "Designed and implemented a real-time notification system, leveraging WebSockets and push notifications to improve user engagement and ensure timely updates, increasing user retention by 15%.",
    ],
  },
];
---

<div class="flex flex-col my-12" id="blogs">
  <div class="typing-container w-fit">
    <h1
      id="work"
      class="text-3xl md:text-4xl font-bold mb-8 typing-line typing-line-1 w-fit"
    >
      🗂️Professional Experience
    </h1>
  </div>
  <div class="border-b pb-8 flex gap-2 flex-col">
    {
      works.map((work) => (
        <a
          class="hover:cursor-pointer border-b py-4 last:border-b-0"
          href={work.link}
        >
          <div class="flex flex-row justify-between text-xl font-bold">
            <p class="text-blue-800">{work.name}</p>
            <p class="flex flex-row ">{work.date}</p>
          </div>
          <p class="text-base font-semibold text-gray-700 mb-2">{work.role}</p>
          <div class="text-base">
            {work.description.map((desc) => (
              <p class="mb-1">- {desc}</p>
            ))}
          </div>
        </a>
      ))
    }
  </div>
</div>
